<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Pokédex</title>
</head>
<body>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <ul>
            <li><img src="/media/pokebola-go.png" alt="pokebola"></li>            
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/"><h1>Pokédex</h1></a></li>
            <li><a href="/detalhes">Pokemons</a></li>
            <li><img src="/media/pokebola-go.png" alt="pokebola"></li>
        </ul>        

    </nav>

    <header>
        <img src="/media/banner.png" alt="banner">
    </header>

    <main>

        <section id="cards">

            <h2>Lista de pokemons</h2>

            <% pokedex.forEach((pokemon) => { %>
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h3> <%= pokemon.nome %> </h3>
                    <p>Tipo <%= pokemon.tipo %> </p>
                </div>        
            <% }) %>
            
        </section>

        <div class="btn">

            <a id="detalhes" href="/detalhes">Detalhes</a>

        </div>        

    </main>

    <footer>
        <p>Todos os direitos reservados © </p>
        <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokédex</a></p>
    </footer>
    

</body>
</html>